<!DOCTYPE html>
<html>
  <head>
    <title>StudentAppV4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<script>
$(document).ready(function(){
  console.log("Document is Ready!");
  $(document).on('click', '.departmentCreate', function(event){
    event.preventDefault();
    console.log("Button clicked");
  })
});
</script>